body{
  margin: 0;
  padding: 0;
}
  
  .Form-container-login {
   margin-top: 100px;
    margin-left: 500px;
    width: 400px;
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #bac4ed;
  }
  
  .login-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap:15px;
  }
  
  .user-input,
  .password-input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #004080;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .login-button:active {
    background-color: #004080;
  }
  
  





  
.Form-container-register {
  margin-top: 100px;
  margin-left: 500px;
    width: 400px;
    height: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #bac4ed;
  }
  
  .signup-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Form-register {
    display: flex;
    flex-direction: column;
  }
  
  .sign-name,
  .sign-email,
  .sign-username,
  .sign-password {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .sign-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sign-checked {
    margin-right: 5px;
  }
  
  .sign-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .sign-button:hover {
    background-color: #0056b3;
  }
  
  .sign-button:active {
    background-color: #004080;
  }




/* Navbar Container */
.navbar {
  top:0px;
  position: fixed;
  width: 98%;
  background-color: #c9dced;
  color: #fff;
  padding: 11px 20px;
}

.navCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.log {
  font-size: 24px;
  text-decoration: none; 
  color: black;
}

.logo-link{
  text-decoration: none; 
  color: inherit; 
}

.LoginButton,
.LogoutButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.LoginButton:hover,
.LogoutButton:hover {
  background-color: #0056b3;
}

/* Link styles */
.LinkButton {
  text-decoration: none;
  color: #fff;
}



.SideBar {
  position: fixed;
  top: calc(70px + 20px); /* Height of navbar + additional space */
 
  width: 200px; /* Adjust width as needed */
  height: calc(100% - 80px); /* Subtract navbar height from total height */
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

.SideBar ul {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SideBar li {
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ffffff; 
  border-radius: 5px; 
  padding: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.SideBar ul li a {
  text-decoration: none; 
  color: inherit; 
}
.SideBar li:hover {
  color: #007bff; 
}


.home-h1{
  margin-left: 250px;
}


/*..............Profile Page................... */


.profile-container {
  margin-left: 230px;
  margin-top: 60px ;
  padding: 20px;
}

.profile-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.profileInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.profileInfo input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.profileInfo input[type="text"]::placeholder {
  color: #999;
}


.profileInfo button{
  width: 90px;
}
/*............home page..............*/

.content-container { 
  margin-left: 230px; 
  overflow-y: auto;
  flex-grow: 1;
}

.jobPosts {
  padding: 20px;
  margin-top: 10px;
}

.job-tab {
  background-color: #f0f0f0;
}

.ul-job {
  list-style: none;
  padding: 0;
}

.ul-job li {
  margin-bottom: 20px; /* Add a gap between job posts */
  background-color: #ffffff; /* Background color for job posts */
  padding: 10px;
  border-radius: 5px;
}

.ul-job li:nth-child(even) {
  background-color: #f0f0f0; /* Alternate background color for even job posts */
}

/*................. JobPage.css ............*/

/* JobPage.css */

.JobDiscripPage {
  overflow-y: auto;
  flex-grow: 1;
}

.job-content {
  margin-left: 220px;
  margin-top: 65px;
  padding: 20px;
}

.job-card {
  font-size: 16px; /* Set a base font size */
}

.job-card h2 {
  font-size: 27px; /* Increase font size for job title */
  margin-bottom: 10px; /* Add some space below the title */
}



.job-card p {
  font-size: 17px; /* Set font size for other paragraphs */
  margin-bottom: 10px; /* Add some space below each paragraph */
}

.job-card ul {
  list-style-type: circle;
  margin-left: 20px; 
}



/* Other styles as needed */
